.input {
    height: 3vw;
    width: 30vw;
    border-radius: 10px;
}

.button {
    border: none;
    background-color: #a794ec;
    color: #ffffff;
    height: 3vw;
    width: 3vw;
    border-radius: 10px;
}

body {
    font-family: 'Inter', sans-serif; 
    margin-left: 30vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.completed {
    text-decoration: line-through;
}

.remove-button {
    margin-left: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

